html
	head
		link(rel="stylesheet" href="/css/app.css")
	body
		include appTemplates.pug
		#app.
			<h1>Basic Vue-Router</h1>
			<router-view></router-view>
		script(src="https://unpkg.com/vue")
		script(src="https://unpkg.com/vuex")
		script(src="https://unpkg.com/vue-router")
		script(src="/js/app.js")