div.
    <script type="text/x-template" id="login">
        <div>
            <h2>LOGIN</h2>
            <ul>
                <li>
                    <router-link to="/admin/one">one</router-link>
                </li>
                <li>
                    <router-link to="/admin/two">two</router-link>
                </li>
            </ul>
        </div>
    </script>
    <script type="text/x-template" id="home">
        <div>
            <h2>Manage Bauges site</h2>
            <ul>
                <li>
                    <router-link to="/admin/pages">Manage Pages</router-link>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/x-template" id="ManagePagesContainer">
        <div>
            <h2>Manage pages</h2>
            <ul>
                <li>
                    <router-link to="/admin/home">Dashboard</router-link>
                </li>
            </ul>
            <h5>Pages</h5>
            <ul>
                
            </ul>
        </div>
    </script>

    <script type="text/x-template" id="component2">
        <div>
            <h2>Component 2</h2>
            <ul>
                <li>
                    <router-link to="/admin/one">one</router-link>
                </li>
            </ul>
        </div>
    </script>