div.
	<footer>
		
		
		<div class="footer_bottom">
			
			<p class="footer_quote AreaA">Bauges Local est une plateforme benevole et collaborative</p>
			
			
			
			
			<div class="footer_links AreaC">
				<a href="#">
					Contactez-nous !
				</a>
			</div>
			
		</div>
		
		<div class="footer_by">
			<a href="#" target="_blank">
				Fait avec amour par Incubadora Itinerante
			</a>
		</div>
	</footer>