div.
	<header class="grid_header">
		<div class="header_title Area__brand fontBrand">
			Bauges Local
		</div>
		<nav class="Grid__nav header__nav">
			<a href="/accueil">
				Accueil
			</a>
			<a href="#">
				C'est qui? C'est quoi ?
			</a>
			<a href="#">
				Annuaire
			</a>
			<a href="#">
				Contact
			</a>
		</nav>
	</header>

	<div class="home_banner">
		<div class="home_banner__text">
			Tout en bauges<br>
			Bon, Beau, Local !
		</div>
	</div>