style.
	/*
	breakpoints
	small: max 639
	medium: max 1047
	large: min 1048
	*/

	@media only screen and (max-width : 639px) {
	}
	@media only screen and (max-width : 1047px) {
	}
	@media only screen and (min-width : 1048px) {
	}



	/*FONTS*/

	.fontBrand{
	font-family: 'Pacifico', cursive;
	}


	body{
	margin:0px;
	background-color:white;
	}


	header{

	background-color:white;
	}
	.grid_header{
	display: grid;
	width: 100%;
	grid-template-areas: "brand"
	"nav";
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	}
	@media only screen and (max-width : 1047px) {
	}
	@media only screen and (min-width : 1048px) {
	header{
	height: 40px;
	background-color:white;
	}
	.grid_header{
	grid-template-rows: 40px 1fr 40px;
	grid-template-columns: 350px 1fr;
	}
	}


	.header_title{
	line-height:40px;
	padding:0px 20px;
	font-size:25px;
	font-weight:100;
	col
	}
	.home_banner{
	background-color:grey;
	background-image:url(https://images.unsplash.com/reserve/IeevPcoTcKktoRanX5P8_IMG_5672.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1375&q=80);
	background-size:cover;
	background-position: center;


	min-height:150px;
	display:flex;
	justify-content:center;
	align-items:center;
	}
	.home_banner__text{
	color:white;
	text-align:center;
	font-size:30px
	}

	@media only screen and (min-width : 1048px) {
	.home_banner{
	min-height:200px;
	}
	}

	.header__nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	}

	.header__nav a{
	text-decoration:none;
	padding:0px 20px;
	color:black;
	}
	.header__nav a:hover{
	color:grey;
	}

	.home_categories{
	display: grid;
	width: 100%;
	grid-template-areas: "a b c d";
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.home_categories a > .category{

	min-height:150px;
	padding:10px 10px 10px 10px;
	text-align:center;
	background-color:#9AA236;
	border:5px solid #F8EFD8;
	}


	.home_categories a:nth-child(1) > .category:hover{
	background:linear-gradient(rgba(154, 162, 54, 0.5),rgba(154, 162, 54, 0.5)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-size:cover;
	background-position:center;
	}
	.home_categories a:nth-child(1) > .category{
	/*background-color:#818956;*/
	background-color:transparent;
	background:linear-gradient(rgba(154, 162, 54, 0.9),rgba(154, 162, 54, 0.9)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-size:cover;
	background-position:center;
	}

	.home_categories a:nth-child(2) > .category:hover{
	background:linear-gradient(rgba(129, 137, 86, 0.5),rgba(129, 137, 86, 0.5)), url(https://images.unsplash.com/photo-1508269151431-a34449ca161d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size:cover;
	background-position:center;
	}
	.home_categories a:nth-child(2) > .category{
	/*background-color:#818956;*/
	background-color:transparent;
	background:linear-gradient(rgba(129, 137, 86, 0.9),rgba(129, 137, 86, 0.9)), url(https://images.unsplash.com/photo-1508269151431-a34449ca161d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size:cover;
	background-position:center;
	}

	.home_categories a:nth-child(3) > .category:hover{
	background:linear-gradient(rgba(194, 159, 102, 0.5),rgba(194, 159, 102, 0.5)), url(https://images.unsplash.com/photo-1479837715113-400356eb8351?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size:cover;
	background-position:center;
	}
	.home_categories a:nth-child(3) > .category{
	/*background-color:#C29F66;*/
	background-color:transparent;
	background:linear-gradient(rgba(194, 159, 102, 0.9),rgba(194, 159, 102, 0.9)), url(https://images.unsplash.com/photo-1479837715113-400356eb8351?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size:cover;
	background-position:center;
	}

	/*
	https://images.unsplash.com/photo-1529651737248-dad5e287768e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80
	rgba(207, 69, 13, 1)
	*/



	.home_categories a:nth-child(4) > .category:hover{
	background:linear-gradient(rgba(207, 69, 13, 0.5),rgba(207, 69, 13, 0.5)), url(https://images.unsplash.com/photo-1529651737248-dad5e287768e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80);
	background-size:cover;
	background-position:center;
	}
	.home_categories a:nth-child(4) > .category{
	/*background-color:#CF450D;*/
	background-color:transparent;
	background:linear-gradient(rgba(207, 69, 13, 0.9),rgba(207, 69, 13, 0.9)), url(https://images.unsplash.com/photo-1529651737248-dad5e287768e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80);
	background-size:cover;
	background-position:center;
	}


	.home_categories a{
	color:#F8EFD8;
	text-decoration:none;
	}
	.home_categories .category .AreaA{
	font-size:20px;
	margin-top:40px;
	margin-bottom:10px;
	}



	.Area__brand{
	grid-area: brand;
	}
	.Area__nav{
	grid-area: nav;
	}
	.AreaA{
	grid-area:a;
	}
	.AreaB{
	grid-area:b;
	}
	.AreaC{
	grid-area:c;
	}
	.AreaD{
	grid-area:d;
	}

	.LIRT{
	display: grid;
	width: 100%;
	grid-template-areas: "b";
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	}
	.LIRT .AreaA{
	background-image:url(https://s4.aconvert.com/convert/p3r68-cdx67/cb42r-eioyu.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:350px;
	}
	.LIRT .AreaB{
	padding:20px;
	font-size:18px;
	display:flex;
	align-items:center;
	}

	.LIRT p{
	font-size: 20px;
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 0;
	text-align: center;
	line-height: 27px;
	}


	/*SECTION SEARCH*/
	.sectionSearch{
	margin-top:50px;
	background-color:#C29F66;
	display:flex;
	flex-direction:column;
	align-items:center;
	}
	.sectionSearch_hashTag{
	text-align:center
	max-width: fit-content;
	padding:5px 5px;
	color:white;
	margin:5px;
	display:flex;
	justify-content:center;
	align-items:center;

	}
	.sectionSearch_hashTag.small{
	font-size:10px;
	}
	.sectionSearch_hashTag.medium{
	font-size:18px;
	}
	.sectionSearch_hashTag.small{
	font-size:26px;
	}
	.sectionSearch_title{
	font-size:30px;
	text-align:center;
	color:#F8EFD8;
	padding-top:30px;
	}
	.sectionSearch_input{
	min-width:320px;
	display:block;
	height:40px;
	margin:0px auto;
	font-size:20px;
	}

	.sectionSearch_hashs{
	max-width:600px;
	margin:0 auto;
	margin-top:30px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 50% 50%;

	}

	.inputIcon{
	position:relative;
	}
	.inputIcon input{
	padding-right:50px;
	}
	.inputIcon .icon{
	width:32px;
	position:absolute;
	top:15px;
	right:10px;
	}
	.sectionSearch_input + .icon{
	right:10px;
	}

	.inputIcon input, .inputIcon .icon{
	display:inline-block;
	}
	@media only screen and (max-width : 639px) {

	}
	@media only screen and (max-width : 1047px) {

	}
	@media only screen and (min-width : 1048px) {
	.sectionSearch{
	max-width:1400px;
	margin:0 auto;
	margin-top:50px;
	}
	.sectionSearch_hashs{
	grid-template-rows: 1fr;
	grid-template-columns: 25% 25% 25% 25%;
	}
	}

	/*SECTION FOOTER*/
	footer{
	margin-top:15px;
	background-color:#818956;

	}
	.footer_bottom{
	display: grid;
	width: 100%;
	grid-template-areas: "a c";
	grid-template-columns: 50% 50%;
	}
	.footer_links{
	height:50px;
	display:flex;
	align-items:center;
	justify-content:flex-end;
	}
	footer a, footer p{
	text-decoration:none;
	color:white;
	padding:5px 10px
	}
	.footer_by{
	height:50px;
	display:flex;
	align-items:flex-end;
	justify-content:center;
	}
	.footer_by a{
	font-size:12px;
	text-align:center;
	}
	.footer_quote{

	}